<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Demo</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <button type="button" @click="listGames">
            List Games
        </button>
        <ul>
            <li v-for="game in games">{{ game.id }}: {{ game.board }}</li>
        </ul>
    </div>
    <script>
        const App = {
            data() {
                return {
                    games: [],
                    url: 'https://tic-tac-toe-ib.herokuapp.com/api/games'
                }
            },

            methods: {
                listGames() {
                    axios.get(this.url).then(function (response) {
                        console.table(response.data)
                        this.games = response.data
                    }.bind(this))
                },
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>