<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Demo</title>
    <!-- Load VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <p>
            <label>First Name:</label>
            <input type="text" v-model="firstName">
            {{ firstName }}
        </p>

        <p>
            <label>Gender:</label>
            <select v-model="gender">
                <option selected>M</option>
                <option>F</option>
            </select>
        </p>

        <p>
        <h3>Message: {{ message }}</h3>
        <button type="button" @click="updateMessage">
            Refresh Message
        </button>
        </p>

        <h3>Computed Message: {{ automaticMessage }}</h3>

        <hr>

        <h3>You are {{ age }} years old</h3>
        <h2 v-if="age >= 18">You are an adult</h2>
        <h2 v-else>You are a minor</h2>
        <button type="button" @click="incrementAge">+ Add</button>
        <button type="button" @click="decrementAge">- Sub</button>

        <hr>

        <input type="text" v-model="drink" placeholder="Input drink name...">
        <button type="button" @click="addDrink">Add Drink</button>
        <ul>
            <li v-for="inumin in drinks">
                I love <b>{{ inumin }}</b>
            </li>
        </ul>
    </div>
    <script>
        const App = {
            data() {
                return {
                    drink: '',
                    message: 'Hi There',
                    firstName: 'Kelvin',
                    age: 0,
                    gender: 'M',
                    drinks: [
                        'Coke', 'Tea', 'Water', 'Beer'
                    ]
                }
            },
            computed: {
                automaticMessage() {
                    return "Happy Birthday " + this.firstName
                        + ". You are " + this.convertLetterToWord(this.gender);
                }
            },
            methods: {
                addDrink() {
                    console.log('Adding drink...');
                    this.drinks.push(this.drink)
                    this.drink = ''
                },

                updateMessage() {
                    this.message = "Happy Birthday " + this.firstName
                        + ". You are " + this.convertLetterToWord(this.gender);
                },

                convertLetterToWord(letter) {
                    if (letter == 'M') {
                        return 'Male'
                    }

                    if (letter == 'F') {
                        return 'Female'
                    }

                    return 'Other'
                },

                incrementAge() {
                    this.age = this.age + 1
                },

                decrementAge() {
                    this.age = this.age - 1
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>