<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Demo</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="container">
    <div id="app" class="py-3">

        <button type="button" class="btn btn-primary" @click="newGame">
            New Game
        </button>

        <button type="button" class="btn btn-info" @click="listGames">
            Load Games
        </button>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>STATUS</th>
                    <th>LIVES</th>
                    <th>WORD</th>
                    <th></th>
                </tr>
            </thead>
            <tbody v-if="loadingGames">
                <td colspan="7" class="h-96 text-center">
                    <div class="spinner-border text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </td>
            </tbody>
            <tbody v-else>
                <tr v-for="game in games">
                    <td>{{ game.id }}</td>
                    <td v-if="game.status === -1">
                        <span class="badge bg-danger">LOST</span>
                    </td>
                    <td v-else-if="game.status === 0">
                        <span class="badge bg-warning text-dark">ONGOING</span>
                    </td>
                    <td v-else-if="game.status === 1">
                        <span class="badge bg-success">WON</span>
                    </td>
                    <td>{{ game.lives }}</td>
                    <td>{{ game.guessed_word }}</td>
                    <td>
                        <button class="btn btn-primary" @click="fetchGame(game.id)">Play</button>
                        <button class="btn btn-danger" @click="deleteGame(game.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <center>
            <img src="man.png" :style="imageStyle">
        </center>

        <div v-if=" Object.keys(currentGame).length> 1">
            <hr>
            <h2>Game ID: {{ currentGame.id }}</h2>
            <h2>Lives: {{ currentGame.lives }}</h2>
            <h2 style="font-family: monospace;">{{ currentGame.guessed_word }}</h2>
            <h2 style="font-family: monospace;" v-if="currentGame.hasOwnProperty('secret_word')">
                {{ currentGame.secret_word }}
            </h2>
            <button class="btn btn-primary" @click="fetchGame(currentGame.id)">
                Refresh
            </button>

            <br><br>

            <button class="btn btn-info" @click="guess(letter, currentGame.id)"
                :disabled="val || currentGame.status !==0" v-for="(val, letter) in currentGame.guessed_letters">
                <h3>{{ letter }}</h3>
            </button>
        </div>
    </div>
    <script>
        const App = {
            data() {
                return {
                    loadingGames: false,
                    games: [],
                    currentGame: {},
                    url: 'https://hangman-ib.herokuapp.com/api/games'
                }
            },

            computed: {
                imageStyle() {
                    return {
                        width: '75px',
                        height: '200px',
                        'object-fit': 'cover',
                        'object-position': this.imageOffset + 'px 0',
                    }
                },

                imageOffset() {
                    if (Object.keys(this.currentGame).length == 0) {
                        return 0;
                    }

                    return (6 - this.currentGame.lives) * -75;
                }
            },

            methods: {
                guess(letter, gameId) {
                    axios.post(this.url + "/" + gameId, { guess: letter }).then(function (response) {
                        this.currentGame = response.data
                    }.bind(this))
                },

                newGame() {
                    axios.post(this.url).then(function (response) {
                        this.currentGame = response.data;
                        this.listGames();
                    }.bind(this));
                },

                listGames() {
                    this.loadingGames = true;
                    axios.get(this.url).then(function (response) {
                        this.loadingGames = false;
                        this.games = response.data;
                    }.bind(this));
                },

                deleteGame(gameId) {
                    axios.delete(this.url + "/" + gameId).then(function (response) {
                        this.listGames();
                    }.bind(this));
                },

                fetchGame(gameId) {
                    axios.get(this.url + "/" + gameId).then(function (response) {
                        this.currentGame = response.data
                    }.bind(this))
                },
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>