<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Demo</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">

        <input type="text" v-model="newTaskName">
        <button @click="addNewTask">Add</button>
        <br>
        <input type="search" placeholder="Search..." v-model="taskNameFilter">
        <br>
        <button @click="clearCompletedTasks">Clear Completed Tasks</button>
        <ul>
            <li v-for="(task, index) in filteredTasks">
                <input type="checkbox" v-model="task.isComplete">
                <del v-if="task.isComplete">
                    {{ index }}: {{ task.name }}
                </del>
                <span v-if="task.isComplete == false">
                    {{ index }}: {{ task.name }}
                </span>
                <button @click="deleteTask(index)">X</button>
            </li>
        </ul>
        <hr>
    </div>
    <script type="module">

        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"
        import { getFirestore, collection, getDocs, addDoc, doc, deleteDoc } from 'https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore.js';
        const firebaseConfig = {

        };
        const firebaseApp = initializeApp(firebaseConfig);
        const db = getFirestore(firebaseApp)

        const App = {
            data() {
                return {
                    newTaskName: '',
                    taskNameFilter: '',
                    tasks: [],
                }
            },

            mounted() {
                console.log('The app is mounted!');

                const tasksCollection = collection(db, 'tasks')
                getDocs(tasksCollection).then(function (response) {
                    for (const doc of response.docs) {
                        console.log(doc.data())
                        this.tasks.push(doc.data())
                    }
                }.bind(this));

                //addDoc(collection(db, 'tasks'), {
                //    name: 'Drink coke',
                //    isComplete: false
                //})
            },

            computed: {
                filteredTasks() {
                    return this.tasks.filter(function (task) {
                        return task.name.includes(this.taskNameFilter);
                    }.bind(this));
                },
            },

            methods: {
                addNewTask() {
                    this.tasks.push({
                        name: this.newTaskName,
                        isComplete: false,
                    });
                    this.newTaskName = "";
                },

                deleteTask(index) {
                    this.tasks.splice(index, 1);
                },

                clearCompletedTasks() {
                    this.tasks = this.tasks.filter(function (task) {
                        return task.isComplete == false
                    });
                },
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>